*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 30px;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out; }
  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 9px;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-in-out; }

.heading-secondary {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #FB9A02, #F05804);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.parragraph {
  font-size: 1.6rem; }
  .parragraph:not(:last-child) {
    margin-bottom: 3rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30%); }
  70% {
    transform: translateX(10%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(30%); }
  70% {
    transform: translateX(-10%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border-radius: 10rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #999; }
  .btn--white::after {
    background-color: #fff; }

.btn--orange {
  background-color: #FB9A02;
  color: #fff; }
  .btn--orange::after {
    background-color: #FB9A02; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #FB9A02;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #FB9A02;
  font-size: 1.6rem;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #FB9A02;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #FB9A02;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 3rem 5rem 3rem 5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .3s; }
  .feature-box .icon {
    width: 50%;
    margin-bottom: 2rem;
    display: inline-block;
    fill: url(#my-cool-gradient) #447799; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  width: 35rem;
  height: 55rem; }
  .card__side {
    height: 55rem;
    border-radius: 3px;
    transition: all .8s ease;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    display: inline-block;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right, #FFD670, #FFA830); }
      .card__side--back-2 {
        background-image: linear-gradient(to right, #F88379, #FA7268); }
      .card__side--back-3 {
        background-image: linear-gradient(to right, #7FD1B9, #3EC49C); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #FFD670, #FFA830), url(../images/adventure-1.jpg);
      background-size: cover; }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #F88379, #FA7268), url(../images/adventure-2.jpg);
      background-size: cover; }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #7FD1B9, #3EC49C), url(../images/adventure-3.jpg);
      background-size: cover; }
  .card__heading {
    color: #f7f7f7;
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    top: 18rem;
    left: 2rem;
    width: 50%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    border-radius: 3px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 214, 112, 0.9), rgba(255, 168, 48, 0.9)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(248, 131, 121, 0.9), rgba(250, 114, 104, 0.9)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(127, 209, 185, 0.9), rgba(62, 196, 156, 0.9)); }
  .card__details {
    padding-top: 5rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.6rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 4rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: #7FD1B9;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    filter: blur(0.2rem);
    -webkit-filter: blur(0.2rem); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to bottom, rgba(225, 66, 1, 0.4), rgba(240, 88, 4, 0.3)), url(../images/backpack.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 20%, 100% 75vh, 0% 100%);
  clip-path: polygon(0 0, 100% 20%, 100% 75vh, 0% 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 50px; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 8rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*3rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3*3rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2*3rem) / 3) + 3rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -30vh; }

.section-features {
  margin-top: -40vh;
  padding: 25rem 0 20rem 0;
  background-image: linear-gradient(to bottom, rgba(251, 154, 2, 0.6), rgba(240, 88, 4, 0.3)), url(../images/adventure-2.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 5rem 0;
  margin-top: -25vh; }

.section-stories {
  padding: 15rem 0;
  background-color: #f7f7f7; }
